#title{
    margin-top: 30px;
    margin-left: 21px;
    width: 500px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    font-size: larger;
    font-weight: bold;
}
#one{
    top: 249px;
    left: 323px;
    width: 1157px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    margin-left: 18px;
}
#two, #three{
    margin-left: 18px;
}
#subtitle{
    top: 1125px;
    left: 321px;
    width: 150px;
    height: 24px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    font-weight: bold;
    margin-left: 20px;
}
.btn{
    border: 1px solid #C8242F;
    border-radius: 18px;
    opacity: 1;
    background-color: white;
    color: #C8242F;
    margin-left: 18px;
}
#radio{
    margin-left: 18px;
}
#error{
    width: 563px;
    height: 44px;
    border: 1px solid #FF3535;
    border-radius: 5px;
    opacity: 1;
    text-align: left;
    margin-left: 18px;
}
#info{
    width: 563px;
    height: 44px;
    border: 1px solid #00B9E1;
    border-radius: 5px;
    opacity: 1;
    color: #00B9E1;
    text-align: left;
    margin-left: 18px;
}
#warn{
    width: 563px;
    height: 44px;
    border: 1px solid #FFA800;
    border-radius: 5px;
    opacity: 1;
    color: #FFA800;
    text-align: left;
    margin-left: 18px;
}
#success{
    width: 563px;
    height: 44px;
    border: 1px solid #00AF27;
    border-radius: 5px;
    opacity: 1;
    color: #00AF27;
    text-align: left;
    margin-left: 18px;
}
#prm{
    width: 124px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    color: white;
    border: 0px;
    margin-left: 18px;
}
#scd{
    width: 145px;
    height: 44px;
    border: 1px solid #C8242F;
    border-radius: 22px;
    opacity: 1;
    color: #C8242F;
    background-color: white;
    margin-left: 20.5px;
}
.p{
    margin-left: 25px;
    width: 1119px;
    margin-top: 10px;
}